

/*================================
=            Defaults            =
================================*/

body {
	background-color: $colorLightGrey;
	color: $default;
	font-family: $fontBody;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.611;
	margin: 0;
	-webkit-font-smoothing: antialiased;

	.nav-visible {
		overflow: hidden;
	}
}
