//* Text
$default: #0B1A26;
$linkDefault: #FF6D39;

//* Color
$colorLightGrey: #F9F9F8;
$colorLight: #ddd;
$colorUltraLight: #f5f5f5;
$colorYellow: #FEDA11;
$colorWarmGrey: #B8B2B0;
$colorBlue: #5AA2FF;